@import '../../assets/css/utils/_vars.scss';

// === flow ====================================================================

.case {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  width: 100%;
  max-width: 1001px;

  margin: 20px 0;
  padding: 0 40px;

  @media (max-width: 540px) {
    padding: 0 20px;
  }
}

.container {
  padding-top: 48px;

  @media (max-width: 680px) {
    padding-top: 15px;
  }
}

.case-logotype {
  margin-bottom: 24px;
  display: block;
  width: 77px;
  height: 77px;

  @media (max-width: 680px) {
    margin-bottom: 0;
    width: 15%;
  }
}

.case__heading {
  display: block;
  margin: 0 auto 52px;
  padding-left: 10px;

  @media (max-width: 680px) {
    margin: 0 auto;
    width: 50%;
  }
}

label,
.form__heading {
  white-space: nowrap;
  user-select: none;
}

.field-text {
  margin-bottom: 30px;
  padding-bottom: 42px;
  max-width: 772px;
  overflow: hidden;

  .input-text {

    @media (max-width: 405px) {
      display: flex;
      flex-direction: column;

      .label {
        display: block;
        width: 100%;
        margin-bottom: 10px;

        text-align: center;
      }
    }

    .label {
      margin-right: 15px;

      @media (max-width: 415px) {
        margin-right: 5px;
      }
    }

    .input {
      position: relative;

      padding: 0 0 0 11px;

      @media (max-width: 680px) {
        top: 10px;
      }

      @media (max-width: 500px) {
        top: 15px;
      }
    }

    &.full-name {
      margin-bottom: 32px;

      .label {
        position: relative;
        top: 16px;
      }
    }

    &.year-of-birth {
      margin-bottom: 24px;

      .label {
        position: relative;
        top: 10px;

        @media (max-width: 405px) {
          top: 15px;
        }
      }
    }

    &.residence {
      margin-bottom: 31px;

      .label {
        position: relative;
        top: 15px;
      }
    }

    &.skype {
      margin-bottom: 27px;

      .label {
        position: relative;
        top: 13px;
      }
    }

    &.e-mail {

      .label {
        position: relative;
        top: 16px;
      }
    }
  }
}

.field-checkbox {
  margin-bottom: 27px;

  .form__heading {
    margin-bottom: 6px;
  }

  .form__description {
    margin-bottom: 27px;

    user-select: none;
  }

  .checkbox-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 757px;

    .checkbox-group-1 {
      flex-grow: 1;
    }

    .checkbox-group-2 {
      flex-grow: 1.6;
    }

    .input-checkbox {
      margin-bottom: 8px;
      margin-right: 15px;

      @media (max-width: 680px) {
        margin-right: 5px;
      }

    }
  }
}

.field-slider {
  .form__heading {
    margin-bottom: 41px;

    @media (max-width: 680px) {
      margin-bottom: 20px;
    }
  }
}

.range {
  margin-bottom: 26px;

  .line {
    position: absolute;

    &.line-1 {
      left: 0;
      width: 2px;
      height: 26px;
    }

    &.line-2 {
      left: 19.5%;
      width: 2px;
      height: 14px;
    }

    &.line-3 {
      left: 48.7%;
      width: 2px;
      height: 14px;
    }

    &.line-last {
      right: 0;
      width: 2px;
      height: 26px;
    }
  }
}

.range-legends {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;

  .item-wrapper {
    max-width: 168px;
  }

  .item-1 {
    flex-grow: 2.8;
  }

  .item-2 {
    flex-grow: 1.5;
    margin: 0 10px;
  }

  .item-3 {
    flex-grow: 3;
    margin: 0 10px;
  }

  .item-last {
    padding-top: 5px;
  }
}

.field-date {
  margin-bottom: 162px;

  @media (max-width: 900px) {
    margin-bottom: 100px;
  }

  @media (max-width: 680px) {
    margin-bottom: 50px;
  }
}



// =============================================================================




// === components ==============================================================
.input-text {
  display: flex;
  justify-content: space-between;

  .label {
    cursor: pointer;

    &::after {
      content: "";


      position: absolute;
      top: 24px;
      right: -15px;

      transform: translate(100%);

      @media (max-width: 405px) {
        top: 45px;
        left: 0;
        transform: translate(0);
      }

      height: 3px;
      width: 700px;

      background: URL("../-common/img/pattern-line.png") repeat-x;
    }
  }

  .input {
    flex-grow: 1;

    border: none;
    background: none;
  }
}

.input-checkbox {
  .input {
    position: absolute;
    left: -9999px;

    &:checked+.label::after {
      content: "";
    }
  }



  .label {
    position: relative;

    cursor: pointer;

    &::before {
      content: "";

      position: relative;
      top: 3px;

      display: inline-block;
      margin-right: 10px;
      width: 19px;
      height: 18px;

      @media (max-width: 440px) {
        margin-right: 5px;
      }



      background: URL('../-common/img/checkbox-box.png') no-repeat center center;

      @media (max-width: 350px) {
        width: 10px;
        height: 10px;
        background-size: contain;
      }
    }

    &::after {

      position: absolute;
      top: -4px;
      left: 4px;

      @media (max-width: 440px) {
        top: -10px;
        left: 2px;
      }

      display: inline-block;
      width: 21px;
      height: 27px;

      background: URL('../-common/img/checkbox-check.png') no-repeat center center;

      @media (max-width: 350px) {
        top: 2px;
        left: -2px;

        width: 14px;
        height: 14px;
        background-size: contain;
      }
    }
  }
}

.input-date {
  position: relative;
  display: flex;

  .label {
    position: relative;
    top: 20px;
    margin-right: 15px;
  }

  .input-wrapper {
    max-width: 205px;
    overflow: hidden;



    &::before {
      content: "";
      position: absolute;
      bottom: 0;

      height: 3px;
      width: 100%;
      max-width: 205px;

      @media (max-width: 600px) {
        max-width: 140px;
      }

      background-color: $colorLine;
    }

    .input {
      border: none;
      background: none;
      height: 45px;
      padding-left: 10px;
    }
  }
}

// =============================================================================






// range slider ================================================================

.noUi-handle {
  margin-top: -15px;
  cursor: pointer;


  &:focus {
    outline: none;
  }

  &:before {

    width: 0;
    height: 0;
    border: 13px solid #ffffff;
    border-top-color: $colorLine;
    border-left-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 0;
    border-left-color: transparent;
    border-right-color: transparent;
  }

}

.noUi-target {
  background-color: $colorLine;
}

// =============================================================================