@import '../../assets/css/utils/_vars.scss';

.case {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  width: 100%;
  max-width: 1001px;

  margin: 20px 0;
  padding: 0 40px;
}

.container {
  padding-top: 48px;
}

.case-logotype {
  margin-bottom: 24px;
  display: block;
  width: 77px;
  height: 77px;
}

.case__heading {
  display: block;
  margin: 0 auto 52px;
  padding-left: 10px;
}

label,
.form__heading {
  white-space: nowrap;
  user-select: none;
}

.field-text {
  margin-bottom: 60px;
  padding-bottom: 12px;
  max-width: 772px;
  overflow: hidden;

  .input-text {
    .label {
      margin-right: 15px;
    }

    .input {
      padding: 0 0 0 11px;
    }

    &.full-name {
      margin-bottom: 32px;

      .label {
        position: relative;
        top: 16px;
      }
    }

    &.year-of-birth {
      margin-bottom: 24px;

      .label {
        position: relative;
        top: 10px;
      }
    }

    &.residence {
      margin-bottom: 31px;

      .label {
        position: relative;
        top: 15px;
      }
    }

    &.skype {
      margin-bottom: 27px;

      .label {
        position: relative;
        top: 13px;
      }
    }

    &.e-mail {

      .label {
        position: relative;
        top: 16px;
      }
    }
  }
}

.field-checkbox {
  margin-bottom: 27px;

  .form__heading {
    margin-bottom: 6px;
  }

  .form__description {
    margin-bottom: 27px;

    user-select: none;
  }

  .checkbox-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 757px;

    .checkbox-group-1 {
      flex-grow: 1;
    }

    .checkbox-group-2 {
      flex-grow: 1.6;
    }

    .input-checkbox {
      margin-bottom: 8px;
      margin-right: 15px;
    }
  }
}

.field-slider {
  .form__heading {
    margin-bottom: 41px;
  }

  .range {
    margin-bottom: 26px;
  }

  .range-legends {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;

    .item-wrapper {
      max-width: 168px;
    }

    .item-1 {
      flex-grow: 2.8;
    }

    .item-2 {
      flex-grow: 1.5;
      margin: 0 10px;
    }

    .item-3 {
      flex-grow: 3;
      margin: 0 10px;
    }

    .item-last {
      padding-top: 5px;
    }
  }
}

.field-date {
  margin-bottom: 162px;
}

// === components ==============================================================
.input-text {
  display: flex;
  justify-content: space-between;

  .label {
    cursor: pointer;

    &::after {
      content: "";

      position: absolute;
      top: 24px;
      right: -15px;

      transform: translate(100%);

      height: 3px;
      width: 700px;

      background: URL("../-common/img/pattern-line.png") repeat-x;
    }
  }

  .input {
    flex-grow: 1;

    border: none;
    background: none;
  }
}

.input-checkbox {


  .input {
    position: absolute;
    left: -9999px;

    &:checked+.label::after {
      content: "";
    }
  }



  .label {
    position: relative;

    cursor: pointer;

    &::before {
      content: "";

      position: relative;
      top: 3px;

      display: inline-block;
      margin-right: 10px;
      width: 19px;
      height: 18px;

      background: URL('../-common/img/checkbox-box.png') no-repeat center center;
    }

    &::after {

      position: absolute;
      top: -4px;
      left: 4px;

      display: inline-block;
      width: 21px;
      height: 27px;

      background: URL('../-common/img/checkbox-check.png') no-repeat center center;
    }
  }
}

.input-date {
  position: relative;
  display: flex;

  .label {
    position: relative;
    top: 20px;
    margin-right: 15px;
  }

  .input-wrapper {
    max-width: 205px;
    overflow: hidden;


    &::before {
      content: "";
      position: absolute;
      bottom: 0;

      height: 3px;
      width: 100%;
      max-width: 205px;
      background-color: $colorLine;
    }

    .input {
      border: none;
      background: none;
      height: 45px;
      padding-left: 10px;
    }
  }
}




.line {
  position: absolute;
  background-color: $colorLine;

  &.line-1 {
    left: 0;
    width: 2px;
    height: 26px;
  }

  &.line-2 {
    left: 19.5%;
    width: 2px;
    height: 14px;
  }

  &.line-3 {
    left: 48.7%;
    width: 2px;
    height: 14px;
  }

  &.line-last {
    right: 0;
    width: 2px;
    height: 26px;
  }
}

.noUi-handle {
  margin-top: -15px;
  cursor: pointer;


  &:focus {
    outline: none;
  }

  &:before {

    width: 0;
    height: 0;
    border: 13px solid #ffffff;
    border-top-color: $colorLine;
    border-left-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 0;
    border-left-color: transparent;
    border-right-color: transparent;
  }

}

.noUi-target {
  background-color: $colorLine;
}