@import '../../../assets/css/utils/_vars.scss';

.case-logotype-link {
  .case-logotype__img {
    opacity: 0.9;
  }
}


// === fonts ===================================================================

// === PT Sans Bold
label,
.form__heading {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;

  color: $colorFontHeading;
}

// === PT Sans Regular
.form__description {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

// === Courier New Regular
.input {
  font-family: 'Courier New', serif;
}

.field-text {
  .label {
    font-size: 22.5px;
    color: $colorFontHeading;
  }

  .input {
    font-size: 30px;
  }
}

.field-checkbox {
  .form__heading {
    font-size: 24px;
  }

  .form__description {
    font-size: 14.88px;
    line-height: 1.55;
  }

  .input-checkbox {
    .label {
      font-size: 21px;
    }
  }
}

.field-slider {
  .form__heading {
    font-size: 24px;
  }
}

// =============================================================================

// === background ==============================================================

body {
  background: URL('../img/pattern_bg.jpg') repeat;
}

.case {
  background: URL('../../-common/img/pattern-middle.jpg') repeat-y;
  background-size: 100%;


  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    height: 61px;

    background: URL('../../-common/img/pattern-top.jpg') no-repeat top;
    background-size: 100%;
  }

  &::after {
    content: "";

    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 61px;

    background: URL('../../-common/img/pattern-bottom.jpg') no-repeat bottom;
    background-size: 100%;
  }
}